<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.4.2.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="APP_NAME" value="mbg"/>
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs"/>
    <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>

    <appender name="APPLICATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="ALIMONITOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="production">
<!--        <logger name="com.alibaba.dts" level="ERROR"></logger>-->
<!--        <logger name="com.taobao.tddl" level="ERROR"></logger>-->
        <root level="INFO">
            <appender-ref ref="APPLICATION"/>
            <appender-ref ref="ALIMONITOR"/>
        </root>
    </springProfile>
    <springProfile name="!production">
<!--        <logger name="com.alibaba.dts" level="ERROR"></logger>-->
<!--        <logger name="com.taobao.tddl" level="ERROR"></logger>-->
        <logger name="com.oxygen.mbgtools.mapper" level="DEBUG"></logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION"/>
            <appender-ref ref="ALIMONITOR"/>
        </root>
    </springProfile>
    <springProfile name="staging">
<!--        <logger name="com.alibaba.dts" level="INFO"></logger>-->
<!--        <logger name="com.taobao.tddl" level="INFO"></logger>-->
        <logger name="com.oxygen.mbgtools.mapper" level="DEBUG"></logger>
        <root level="INFO">
            <appender-ref ref="APPLICATION"/>
            <appender-ref ref="ALIMONITOR"/>
        </root>
    </springProfile>
    <springProfile name="project">
<!--        <logger name="com.taobao.tddl" level="INFO"></logger>-->
<!--        <logger name="com.alibaba.dts" level="INFO"></logger>-->
        <logger name="com.oxygen.mbgtools.mapper" level="DEBUG"></logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APPLICATION"/>
        </root>
    </springProfile>
    <springProfile name="test">
<!--        <logger name="com.taobao.tddl" level="INFO"></logger>-->
<!--        <logger name="com.alibaba.dts" level="INFO"></logger>-->
        <logger name="com.oxygen.mbgtools.mapper" level="DEBUG"></logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APPLICATION"/>
        </root>
    </springProfile>
    <springProfile name="dev">
<!--        <logger name="com.taobao.tddl" level="ERROR"></logger>-->
<!--        <logger name="com.alibaba.dts" level="ERROR"></logger>-->
        <logger name="com.oxygen.mbgtools.mapper" level="DEBUG"></logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="APPLICATION"/>
        </root>
    </springProfile>
</configuration>